[2020-05-04 14:24] nlights opened #1 "Is a package for PPC possible?"
Hello!
I would love to use AirConnect-Synology on my DS213+. But the architecture is not supported, the DS213+ uses a Freescale P1022. I found an AirConnect bin for PPC (https://github.com/philippe44/AirConnect/blob/master/bin/airupnp-ppc). Could this be used for an appropriate Synology package?
Thank you very much!

[2020-05-04 21:23] eizedev commented on #1
Hi @nlights
let's give it a try. Don't know exactly if ppc32 is supported. ppc(64) in general is supported.
Can you please test this package on your DS213+?
https://github.com/eizedev/AirConnect-Synology/releases/download/0.2.25.0-20200504/AirConnect-ppc-0.2.25.0-20200504.spk
If it's working i can add it to the current and future releases.

[2020-05-05 15:25] nlights commented on #1
Hi @eizedev!
Thanks for the qick reply and the effort! I can install the package, but if I run it I get the following error:

I attached the package and the application logfile.
[application_airconnect.log](https://github.com/eizedev/AirConnect-Synology/files/4581777/application_airconnect.log)
[package_AirConnect.log](https://github.com/eizedev/AirConnect-Synology/files/4581778/package_AirConnect

[2020-05-05 15:41] eizedev commented on #1
[code]

Wrong glibc version. The ppc version from AirConnect ist Not compatible with your ppc32 architecture from the ds213+.
Hmm, we could try Building the AirConnect binary manually on your NAS, but i think the best way is to Open an issue at the official AirConnect Repo if he could Build the binary and include it into the Release.

I am currently writing from my phone. I will Open an issue late

[2020-05-06 21:51] eizedev commented on #1
@nlights Next Try: Please download the spk with the static build binaries for airupnp and aircast, upload it to your NAS and give it a try.
https://github.com/eizedev/AirConnect-Synology/releases/download/0.2.25.0-20200504/AirConnect-static-0.2.25.0-20200506.spk

[2020-05-07 09:09] nlights commented on #1
Thank you very much for the effort! But this package can't even be installed.
![firefox_2020-05-07_11-06-42](https://user-images.githubusercontent.com/225745/81276306-1d828600-9053-11ea-98f2-6339eebcafa8.png)

[2020-05-08 08:46] eizedev commented on #1
@nlights
Ah, damn, I'm sorry. I put the wrong architecture in the package for the static binaries. Please test it again with the newly uploaded package. If that doesn't work we really need 1 binary for aircast and 1 binary for airconnect for the PPC platform.

[2020-05-08 14:53] nlights commented on #1
Thanks once again for the effort!
Same error:

PS.: I would only need airupnp.

New logs attached:
[2020-05-08_package_AirConnect.log](https://github.com/eizedev/AirConnect-Synology/files/4599731/2020-05-08_package_AirConnect.log)
[2020-05-08_application_airconnect.log](https://github.com/eizedev/AirConnect-Synology/files/4599732/2020-05-08_application_airconnect.log)

[2020-05-08 15:13] philippe44 commented on #1
That log does not tell me enough

[2020-05-08 15:16] eizedev commented on #1
@nlights
The log does not show up the needed information, but I have now integrated both binaries, `aircast-ppc-static` and `airupnp-ppc-static` into a new package.
Please test this one [AirConnect-ppc-static-0.2.25.0-20200508.spk](https://github.com/eizedev/AirConnect-Synology/releases/download/0.2.25.0-20200504/AirConnect-ppc-static-0.2.25.0-20200508.spk).

[2020-05-10 14:42] nlights commented on #1
Thanks again! This package is instalkled now and it runs without an error 👍
Unfortunately playing music wont work: I can choose the speaker, but then an error an my iPhone tells me that the connection is not possible.
I attached a screenshot an the application log, I can find a reason there. Is there a place where I can search for more information, an other log file for example?
PS.: Running on my

[2020-05-11 07:13] eizedev commented on #1
@nlights
There you go :)
Well, the log looks good to me so far. The various Sonos players and your foobar2000 installation are found.

The song you play and the volume change (0x10295400 = Schlafzimmer) is also recognized and passed on. As far as I can tell it looks good.

[code]

After playing your music on Airplay, did you check the Sonos app to see if it was playing and the volume was correct?

[2020-05-11 21:07] eizedev commented on #1
@nlights I have published a new release which also includes the `ppc-static` binaries (and all future releases). For your package, it is only a bugfix release (mainly problems during the upgrade process were fixed).
You can find the new package in the release section: https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.25.0-20200511

[2020-05-11 22:59] philippe44 commented on #1
I don't know why there is an issue with AirPlay, everything seems to be working fine according to the logs

[2020-05-16 10:51] x-Felix opened #2 "Not able to start"
<img width="602" alt="Screen Shot 2020-05-16 at 20 47 29" src="https://user-images.githubusercontent.com/25091279/82117862-9782df80-97b6-11ea-8be1-23f6fb9b2f0c.png">
Installed AirConnect-x86-64-0.2.25.0-20200511.spk on DS216+II, but failed to start with attached error. Seems like complaining no device found on the same network. However, my sonos play 1 is running at same network. And I can access

[2020-05-16 12:38] x-Felix commented on #2
i sorted it out by adding 'no ip igmp snooping' into Cisco AP configuration.

[2020-05-16 12:38] #2 closed

[2020-05-20 17:37] nlights commented on #1
Hey there, thanks for your efforts and sorry for me taking so much time to answer...

I needed some time to try things out but still I'm facing the same issue:
Installation works, my iPhone finds my speakers. After chosing one of them for Airplay nothing happens for a moment (especially no music 😉) and then I get an error for the speaker in the Sonos controller running on my desktop (title does no

[2020-05-22 15:42] eizedev commented on #1
hmm.. strange. It could possibly a firewall issue on your DS? do you have activated the firewall there? Are you using IGMP Snooping?
Also please take a look at these topics:

https://github.com/philippe44/AirConnect/issues/246
https://github.com/philippe44/AirConnect/issues/213
https://github.com/philippe44/AirConnect/issues/222

Since it works on your Windows system and the logs from AirConnect l

[2020-05-24 01:51] philippe44 commented on #1
Have you build a config file or is this the default?

[2020-05-27 18:38] eizedev commented on #1
@philippe44

He is using the defaults from the synology package as i can see in his logfile, he has not created the config files:

[code]

The synology package itself is using the following startup commands:

[code]

[2020-06-09 08:16] eizedev commented on #1
@nlights Any new information?

[2020-06-23 15:21] eizedev commented on #1
@nlights Strange, it looks like the airupnp service is crashing for some reasons. (last few log lines). Aircast is running fine.

Perhaps you could check `/var/log/messages` for errors of airupnp why it is stopping/crashing? There should be some log entries after you starting the playback and airupnp is crashing. Please restart the service before starting the playback and running this command to c

[2020-08-10 10:31] eizedev commented on #1
@nlights Any news here?

[2020-08-24 08:42] eizedev commented on #1
I will close this issue here for now. If you (or another person) still has problems we can discuss this further. I don't think it's a problem of the Synology package in general, this is more a [local networking](https://github.com/philippe44/AirConnect/issues/270) or an AirConnect related issue.

[2020-08-24 08:42] #1 closed

[2020-09-02 05:09] leroyrichjr opened #3 "AirConnect package can't start"
I am having a problem where AirConnect fails to start.  Here is a startup/shutdown cycle from the log file.

`[23:56:24] Starting aircast on 172.16.0.11`
`[23:56:24.013382] main:951 Starting aircast version: v0.2.27.0 (Aug  3 2020 @ 11:16:54)`
`[23:56:24.013552] main:959 no config file, using defaults`
`[23:56:24.013942] Start:715 Binding to 172.16.0.11`
`[23:56:24.014271] Start:720 Cannot load SS

[2020-09-02 07:05] eizedev commented on #3
Hi @leroyrichjr

`[23:56:24.014271] Start:720 Cannot load SSL libraries`

What Synology NAS (model) are you using and [what package did you download](https://github.com/eizedev/AirConnect-Synology#download-the-pre-build-synology-package)?

Background of my question is about the ssl Libraries: aircast and airupnp needs these two libraries libcrypt.so and libssl.so. They should be, by default, avail

[2020-09-07 02:15] leroyrichjr commented on #3
It's a DS1817+ and I downloaded AirConnect-x86-0.2.27.0-20200810.spk, which now I realize is the wrong one.  I installed AirConnect-x86-64-0.2.27.0-20200810.spk instead and it works great.  Sorry to be a pain in the butt and thanks for such a great utility.

[2020-09-07 02:15] #3 closed

[2020-09-20 13:38] waterfish007 opened #4 "can not use in ds916"
I install the program in GUI successfully,i it doesn't work.
Until I in ssh mode, and input

cd /volume1/@appstore/AirConnect
./aircast

then, it work!

but, how can I use in ever reboot automatic without ssh a command?

and

Will support airplay2 in future?

[2020-09-27 12:33] eizedev commented on #4
Hi @waterfish007

This is not normal behavior. In the current version both airupnp and aircast should start automatically without the need to log in via SSH.

The problem can occur when updating from a (much) older version, because during the update the scripts of the old version are used to uninstall the new version.
Have you ever tried to install it again with the SPK package? This will also use

[2020-09-30 06:40] waterfish007 commented on #4
Thank's for answer, but I found the program works unstable.i don't know is my NAS's problem or anything else.
here is the log.
Thank you again!
[airconnect.log](https://github.com/eizedev/AirConnect-Synology/files/5303527/airconnect.log)

[2020-10-01 10:09] eizedev commented on #4
hmm, strange...
In your logfile i see two ip addresses for your NAS system, is this correct?
-> 192.168.1.111 and 172.30.32.1

At the beginning 192.168.1.111 will be used, later on 172.30.32.1 and the last successful startup i can see is with ip 192.168.1.111.
Do you have your speakers in another subnet as your other devices? How is your network setup? (Router/Firewall etc.)

So in general, the Ai

[2020-10-01 12:31] waterfish007 commented on #4
Thank you for the reply.I found 172.30.32.1 is the docker of hassio in the DSM system.You guide the solution for me .

[2020-10-01 13:56] eizedev commented on #4
Ah, cool :) You are welcome, i will close the issue

[2020-10-01 13:56] #4 closed

[2020-11-02 06:37] vespino opened #5 "Failed to run"
I have 4 Nest Minis on my network, still Synology resports the package can't be run and tells me to make sure I have at least one Chromecast device on my network. Any tips on how to debug this and get things running?

[2020-11-02 08:23] vespino commented on #5
Fiddling with IGMP snooping miraculously got it to work.

[2020-11-02 08:23] #5 closed

[2020-11-02 09:57] eizedev commented on #5
Since many people have problems with the multicast configuration (especially IGMP snooping and IGMP proxy configuration), I have included a short chapter in the readme, which refers to it and gives some tips. In the beginning I also had these problems

[Multicast and IGMP Snooping/Proxy](https://github.com/eizedev/AirConnect-Synology/blob/master/README.md#multicast-and-igmp-snoopingproxy)

[2020-11-02 10:10] vespino commented on #5
@eizedev great! I'm currently using Audio Station to play to my Next Minis, but it is possible to airplay streaming audio (so an internet stream) from the command line without the need of Audio Station?

[2020-11-02 11:24] eizedev commented on #5
Unfortunately, I don't quite understand your question. From where would you like to play an audio stream? Because you write commandline -> From the Synology NAS locally? If you use AirPlay, you can of course use your IPhone to send a stream via AirPlay to a Sonos speaker. Or are you looking for something permanent that doesn't depend on your mobile phone?

If i start Audio Station (Playlist random

[2020-11-02 11:26] vespino commented on #5
I would like to initiate AirPlay from the Synology command line if possible. I'm currently using is as displayed in your screenshot. I'm Dutch, so don't worry, I can read fine :)

[2020-11-02 11:37] eizedev commented on #5
hmm... good question. I found this thread online, but didnt't test it yet. So you can call a cgi from audiostation with some parameters: https://community.synology.com/enu/forum/17/post/16865?page=1&sort=oldest

newer post is about the player "mplayer" that audio station uses. You can call mplayer from the commandline: https://www.tutorialfor.com/questions-14505.htm

Also there exists a few comman

[2020-11-02 11:40] vespino commented on #5
Thanks, I will look into those posts.

[2020-11-08 09:40] vespino opened #6 "Sometimes stable, sometimes not"
I have been using this plugin for a week or so now and it does not always seem stable. Sometimes AirPlay plays for hours, sometimes it’s stops after an hour or 2 or less. I then have to restart the plugin and restart the audio.

AirPlay does seem to be stable when used from my iPhone and my Google speakers play the entire day when playing from the built in services like tune in, so I guess it’s no

[2020-11-09 07:41] eizedev commented on #6
Hi @vespino
Could you please check the log files on your NAS when the problem reoccurs? There should be an error or at least a hint logged.
Then you could upload the logfile here and I can have a look at it.

You can find more information about the logfiles in the readme: [AirConnect-Synology Logfiles](https://github.com/eizedev/AirConnect-Synology#logfiles)

[2020-11-09 08:09] vespino commented on #6
@eizedev the file /var/log/packages/AirConnect.log is currently only showing stop/start logs for the crons I have set in place to restart the service every 24 hours, it doesn't show any other logs. I will look to the other log file (/var/log/airconnect.log) when the problem occurs.

[2020-11-09 08:16] eizedev commented on #6
The log file `/var/log/airconnect.log` is written by the AirConnect synology package. All log entries of the AirConnect application (airupnp + aircast) are also written into this log file.
The other log file is basically just the log file of the service managed by Synology. (i will update the readme to make it more clear :))

[2020-11-10 07:05] vespino commented on #6
Yesterday at around 6.35PM streaming stop and around that time I have found the following logs:

[18:32:21.133851] buffer_put_packet:620 [0x7f2558b8c560]: fill [level:2] [W:63396 R:63395]
[18:32:21.676552] _buffer_get_frame:960 [0x7f2558b8c560]: drain [level:2 gap:987] [W:63464 R:63462] [R:0 S:0 F:0]
[18:32:22.218740] CheckAndLock:259 device is NULL
[18:32:22.233943] CheckAndLock:259 device is NUL

[2020-11-12 21:46] vespino commented on #6
I think I found a relationship with my TV. It seems that when I start casting to my TV my speakers stop. Don’t know if this is even possible or purely coincidental, but it has happened a couple of times now, while having played without errors the entire day.

[2020-11-13 21:54] vespino commented on #6
Thanks, I will do that.

[2020-11-13 21:54] #6 closed

[2020-12-02 15:17] nathangoodman opened #7 "Limit to Non-AirPlay2 enabled Sonos Models"
Thank you for your work packaging this up for Synology.  You made it dead simple to setup and get working out of the box.

Im wondering if its possible to configure the package to start with the `./airupnp -o S1,S3,S5,S9,S12,ZP80,ZP90,S15,ZP100,ZP120` option to remove all of the Sonos that already have the AirPlay 2 enabled?

[2020-12-02 22:34] nathangoodman commented on #7
I ended up just creating my own Docker container with this running with the -o flag.

[2020-12-02 22:34] #7 closed

[2020-12-09 16:57] eizedev commented on #7
Hi @nathangoodman
thanks for that, i have tested this to not break existing local config files from users. (config.xml)
I have released a new version where this is now included by default: [0.2.41.0-20201209](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.41.0-20201209)

[2020-12-09 19:07] nathangoodman commented on #7
This is great.  I've removed my bespoke Docker setup and have just installed this package instead.  Works well.  Thanks again!

[2020-12-15 01:13] flyingfan76 opened #8 "Failed to start AirConnect on DS 918+"
Hi,

It was worked in the past. But all of sudden, the functionality corrupted. I reinstalled the AirConnect but never got it work again.

Here is the error logs taken from the log file.

[code]

Is there any configuration issue?
Thanks,

[2020-12-16 07:32] eizedev commented on #8
Hi, In the last version i have included the `-o` parameter of airupnp to exclude the Sonos Speakers that already natively support AirPlay. So in general, for the Sonos speakers that natively support AirPlay you do not need AirConnect (airupnp).

Which speaker are you using? (UPNP)

So in general the exclude mentioned above that should not be a problem if you are using other speakers in your enviro

[2020-12-16 07:41] eizedev commented on #8
Hi again, new release is online: https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.42.1-20201216

[2020-12-18 07:10] flyingfan76 commented on #8
Hi,
Sorry to answer late. The package I used was AirConnect-x86-64-0.2.41.0-20201209.spk.  And I haven't had a chance to test the 1216 package. Will try it out and back to you with my findings.

Btw the speaker is one Chinese branding (Xiaoai which comes from Xiaomi).

Thanks,

[2020-12-19 01:42] flyingfan76 commented on #8
Even with the latest version of 1216, it does not work. SonoAir cannot detect the devices either. I suspect it is the issue of the wireless soundbox. Please close this issue by now.

[2020-12-21 08:54] eizedev commented on #8
Are you using this Xiamoi speaker exclusively? (So no Sonos etc.) Which one is that exactly?

[2020-12-29 12:05] eizedev commented on #8
@flyingfan76 to make it more clear. In my latest two releases i changed the way that AirConnect discovers new DLNA/UPNP Speakers. So only specific models will be discovered, so that all speakers that natively supports airplay will not be discovered and shown in the AirPlay menu anymore.
So if you tell me the model or at least the name of the xiaomi speaker, i can include this model als well if it

[2021-01-01 13:34] apple521 opened #11 "Failed to start AirConnect"
AirConnect: [21:31:21] Failed to start AirConnect on ip "192.168.1.126", stopping it... [21:31:33] Failed to start AirConnect on any of the local interfaces, please make sure you have at least one UPnP/Sonos/Chromecast device on your network

DS120J DSM 6.2.3-25426 Update 3

[2021-01-01 23:29] eizedev commented on #11
Hi, for which speakers (name/model) do you want to use AirConnect? Sonos?

[2021-01-04 06:21] flyingfan76 commented on #8
@eizedev, thank you for the clarification. I don't know what exactly the model name of xiaomi speaker in english. Maybe it is "xiaoai". Anyway, I will try the new version 20201229 and see if it can help.

[2021-01-04 07:50] eizedev commented on #8
As mentioned in this deep dive post [here](https://www.programmersought.com/article/94913733704/), the model number should be `S12` which is already included in the last two packages.
Perhaps you could check the model number on your device?
You can find the model number in the upnp device.xml file directly on your speaker, it should be port 9999 when accessing your device in your browser via the I

[2021-01-05 06:08] jaspreetsidhu opened #12 "[BUG] Not sure if compatible with DSM 7"
**Describe the bug**
Upon installation on DS1621+ running Beta DSM 7, receive Invalid file format. Please contact developer message.
**To Reproduce**
See above
**Expected behavior**
Installation to proceed
**Logfiles**

**Hardware (Device on which you are running AirConnect-Synology):**
 - DS1621+
 - DSM 7 Beta

**Package (which package from the [releases](https://github.com/eizedev/AirConnect-Syn

[2021-01-05 09:01] eizedev commented on #12
I had a quick look at the [DSM7 Beta Developer Guidelines](https://global.download.synology.com/download/Document/Software/DeveloperGuide/Firmware/DSM/7.0/enu/DSM_Developer_Guide_7_0_Beta.pdf) but couldn't see much difference at first glance (page 35 ++). I have to take a closer look at this in peace.
Thanks for testing and reporting the bug.

[2021-01-06 15:22] eizedev opened #13 "[FEATURE] Support for DS1821+ and DS1621+"
Support for the following new AMD based NAS system should be integrated/tested:

Model | CPU Model | Cores | Threads | FPU | Package Arch | RAM
-- | -- | -- | -- | -- | -- | --
DS1821+ | AMD Ryzen V1500B | Quad Core | 8 | Yes | V1000 | DDR4 ECC SODIMM 4GB
DS1621+ | AMD Ryzen V1500B | Quad Core | 8 | Yes | V1000 | DDR4 ECC SODIMM 4GB

[2021-01-06 15:53] eizedev commented on #13
Support was added in the newest release [0.2.43.0-20210106](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.43.0-20210106). I cannot test it, since i have no such NAS. If it does not work for you, please open an new issue.

[2021-01-06 15:53] #13 closed

[2021-01-07 05:43] flyingfan76 commented on #8
@eizedev , I tried the latest version. Although it was still not able to find Xiao ai, it really detect the other wireless speaker which was not detected in the past. And for the Xiaoai speaker I used, the model is "S12".

[2021-01-07 05:47] flyingfan76 commented on #8
@eizedev , a quickly update. After exploring the setting of associated app of xiao ai speaker. I notify the default dlna options has been turned off. After turn it on, xiao ai speaker can be found as well. Really appreciate your patient.  Thx, it is all set now.

[2021-01-07 05:57] eizedev commented on #8
Great, I am glad that it works now.

[2021-01-08 07:11] eizedev opened #14 "[FEATURE] Own packages only for airupnp or aircast"
The build scripts should be extended or adapted in that individual packages are built only for airupnp or aircast. (i.e. there is one package (airconnect) for both binaries and one package only for airupnp or aircast).

Alternatively, it could be considered to include the Synology Package Manager GUI and to integrate a selection menu during installation (WIZARD_UIFILES folder) which binaries shoul

[2021-01-08 07:15] eizedev opened #15 "[FEATURE] Improvement of the access to the log files"
For most users of the package, especially beginners, the only reason to connect to the NAS via SSH is to view the log files. A solution for this should be worked out if possible.

Using Synology Log Center? Is it possible to pass the log files to the Synology Log Center in a standardized way (without syslog)?

Storage of the logfiles within a standardized share? (/volume1...) to make them availabl

[2021-01-08 08:25] eizedev commented on #14
This will be the new selection menu during installation in the package center:

![image](https://user-images.githubusercontent.com/6794362/103991537-16d48180-5193-11eb-8920-d1fb96f3644c.png)

[2021-01-08 12:06] Gummibando commented on #14
Awesome :)

[2021-01-08 14:45] eizedev commented on #14
The basic integration is as good as finished. I just have to adjust a few small things, then you are very welcome for testing ;)

[2021-01-10 07:45] 391P commented on #11
Hi @eizedev. I have a similar problem.
However AirConnect is not receiving network information on my Synology DS918+. I have installed the x64 version without any problems. Unfortunately the service does not start! Failure Message: **"The service can not be executed: Failed to get local Ethernet interfaces"**. I have seen that a user is created during the installation. Are special permissions nece

[2021-01-11 08:35] eizedev commented on #11
Hi @391P

The error message `Failed to get local Ethernet interfaces` is issued if the start script cannot uniquely identify the "correct matching" local network interface.

### Background
The processes will only recognize your devices if they are bound to the appropriate local network IP, but this is not trivial as there are various Synology devices and network setups out there.
The start script

[2021-01-11 08:42] eizedev opened #16 "[BUG] Detection if renderer were added does not work as expected"
**Describe the bug**
The detection if a new renderer (speaker) were added in the first 10 seconds after startup of airupnp/aircast is not working as expected. The validation if the logfile contains the string "adding renderer" is not really good and leads to errors if the logfile is already a bit older. This should definitely be adjusted in the next versions.

**Logfiles**
`/var/log/airconnect.log

[2021-01-11 09:00] 391P commented on #11
Hello @eizedev.
Thank you for your detailed message. Then for sure my IP range will cause the problem.
I would be very pleased if you could add my IP data. IPv4: 17.* Subnet-Mask: 255.255.192.0
I am waiting for a new release from you for that. Thank you very much.
**391P**

[2021-01-11 09:12] eizedev commented on #11
@391P
sure, no problem. i will include your local subnet in the next release. Could you please share a "test" ip address of your subnet with me? `17.*` does not directly match the subnet with mask `255.255.192.0`. (Example: `255.255.192.0` could match to a address range of `17.16.0.1 - 17.16.63.254`, so i would add something like `17.16.0.x - 17.16.63.x` to the filter)
Your local subnet is also no

[2021-01-11 09:25] 391P commented on #11
Hi @eizedev.
Sorry, just wanted to be as global as possible. My IP address is 17.0.64.0/18, and this covers the range 17.0.64.0 to 17.0.127.254. The 17.0.127.255 is the broadcast address.

Currently, the network includes different segments, where certain hardware categories are placed. Basically I agree that a private network will cause less problems in the future, but so far it doesn't! Using you

[2021-01-11 16:10] eizedev commented on #11
Thanks, i  will include your range in the next release. I will let you know here again.

I am currently working on an extended version which I want to integrate step by step in the upcoming releases. With this it will be possible to specify some essential settings already during the installation in the GUI of the Package Center. Furthermore I want to have a closer look at the part of the airconnec

[2021-01-15 20:39] eizedev commented on #11
@391P you local network range should be included in the last [release](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.43.1-20210115).

@apple521 Could you please share your local subnet details with me? So i can add the ip range to the next release for testing if the problem is also solved for you

[2021-01-15 20:41] eizedev commented on #16
A workaround was released in the latest [release 0.2.43.1-20210115](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.43.1-20210115). Currently the package does not check for new renderers on startup. It will come back in the future with a better solution.
If you had problems starting AirConnect-Synology in the last releases, please test 0.2.43.1-20210115.

[2021-01-15 20:44] eizedev commented on #8
closed due to anser https://github.com/eizedev/AirConnect-Synology/issues/8#issuecomment-755899731

[2021-01-15 20:44] #8 closed

[2021-01-16 08:05] 391P commented on #11
Good morning @eizedev.

Thank you for your quick feedback and providing a new release. Unfortunately I still get the same error message, so I can't get your package to run on my synology. What can I do?
**391P**
![Screenshot01](https://user-images.githubusercontent.com/69047079/104806720-dfd91e00-57d9-11eb-8a1c-d95220a0c453.png)
![Screenshot02](https://user-images.githubusercontent.com/69047079/10

[2021-01-16 13:40] Vinisz opened #17 "Cannot start, Cannot load SSL libraries"
Hi,

Installed AirConnect-x86-0.2.43.1-20210115.spk on a Synology DS415+
However, when trying to start from the GUI, it stops straight away...
When trying to start via SSH, (./airupnp) it gives error: Start:1132 Cannot load SSL libraries
Any idea what's wrong here ?

[2021-01-16 13:58] eizedev commented on #17
Hi, on a ds415+ you need to download and install the x86-64 Package.

[2021-01-16 14:01] Vinisz commented on #17
Strange, I thought I had the right one.. but works now, thanks !

Van: René <notifications@github.com>
Verzonden: zaterdag 16 januari 2021 14:59
Aan: eizedev/AirConnect-Synology <AirConnect-Synology@noreply.github.com>
CC: Vinisz <vszabang@gmail.com>; Author <author@noreply.github.com>
Onderwerp: Re: [eizedev/AirConnect-Synology] Cannot start, Cannot load SSL libraries (#17)

Hi, on a ds415+ you n

[2021-01-16 19:43] #17 closed

[2021-01-18 08:14] eizedev commented on #11
@391P hmm... strange. I will provide you with a test package in the next few days as soon as I get the chance, which should run in any case in your environment. Do you have the possibility via ssh to log on to your NAS and send commands?

[2021-01-18 08:27] 391P commented on #11
Hi @eizedev. Thanks for your info. I have the possibility to access my Synology via SSH. Still wanted to give you the log to evaluate, however, there is only the same text for the service as you can see in the screenshot. Unfortunately not more details.
**391P**

[2021-01-18 08:33] eizedev commented on #11
@391P At the moment that is correct.
The start script fails on your NAS directly at startup, because it cannot evaluate the appropriate network interface. As I said, I will build a test package in the next few days where this check is disabled. Then it should start in any case and we can look at more details.

(Übrigens, wenn das nicht hilft, können wir uns außerhalb von Github gerne auch in Deuts

[2021-01-19 21:14] eizedev commented on #11
Another bug in the filter for detecting the local network interfaces was found and this was fixed in [0.2.43.1-20210119](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.43.1-20210119).
@391P has tested the new version and it is working in his environment. So i will close this issue for now.

If you still have problems with this kind of bug, please open a new issue to track the prob

[2021-01-19 21:14] #11 closed

[2021-01-25 10:54] emanut opened #18 "[FEATURE] Add AirConnect Airplay Speaker to Homekit"
Is there a way to add the new AirConnect Airplay speakers to a room in Homekit? So I could use Siri to play something in a room.

Thanks
Emanuel

[2021-01-27 13:08] eizedev commented on #18
Hi @emanut

Unfortunately, I am not familiar with HomeKit. I think your request would be better served in the official [AirConnect](https://github.com/philippe44/AirConnect) repository. The community is bigger there. There is a better chance that they can help you.

Please take a look [here](https://github.com/philippe44/AirConnect/issues)

[2021-01-30 16:21] heutger opened #19 "Autoupdate, Update at all"
Hi,

first thanks at all, that you continue the project. Just two questions:

If everything is working well (release notes of AirConnect are very silent), why should I update from the latest version? Are there any security issues?

As in addition and a bit more important depending on your answer: I can enable auto-update of the packages, as you're really regular releasing (once again, many thanks

[2021-02-01 08:34] eizedev commented on #19
@heutger Hi Christian (Greetings from Hessen to Hessen ;)),

In general, even with older AirConnect (airupnp/aircast) binaries running via AirConnect Synology, you should not have any major problems. It's just like always with updates. There MAY be security issues in the future and there MAY be new bugs for old deployed versions when e.g. iOS gets an update, Synology changes something etc.. This i

[2021-02-01 21:03] heutger commented on #19
Hi René,

best greetings from Fulda and thanks for your answer and effort. So I will move then to your source soon and hope for auto-updating in the next future. ☺

Mit freundlichen Grüßen

Christian Heutger

Von: René <notifications@github.com>
Antworten an: eizedev/AirConnect-Synology <reply@reply.github.com>
Datum: Montag, 1. Februar 2021 um 09:35
An: eizedev/AirConnect-Synology <AirConnect-Syn

[2021-02-11 08:31] #18 closed

[2021-02-13 10:37] justsmugpie opened #20 ""Cannot load SSL libraries" error on DS218+ (apollolake)"
**Describe the bug**
Firstly many thanks for taking this project on! The package is installed correctly on my DS218+, but doesn't start. When clicking on "Run" in the Package Center - the window is greyed out for a bit but the package does not start.  Examining the logs shows a "Cannot load SSL libraries" error.

**To Reproduce**
Install AirConnect-x86-64-0.2.43.0-20201229.spk from the Package Cen

[2021-02-13 10:41] justsmugpie commented on #20
Oh wait, I've looked through the closed issues and I may need the 64bit version. I'll try that and close this issue if need be. I saw "apollolake" was suggested on the 32bit version and stopped reading any further :)

[2021-02-13 10:43] justsmugpie commented on #20
Yes it's working! Closing issue, and sorry to file this unnecessarily.

[2021-02-13 10:43] #20 closed

[2021-02-17 08:43] eizedev commented on #20
Hi @justsmugpie

thanks for finding this mistake in the documentation. I just removed apollolake from the supported 32bit architecture in the table (Readme).

[2021-02-26 05:45] eos1d3 opened #21 "CastDevices disappear after some hours, usually on the next day."
**Describe the bug**
CastDevices disappear after some hours, usually on the next day.

**To Reproduce**
Just wait for a long time, usually next day.

**Expected behavior**
CastDevice should always be shown.

**Logfiles**
[code]

**Hardware (Device on which you are running AirConnect-Synology):**
 - Synology NAS DS918+, Asus RT-AC86U
 - DSM 6.2.3-25426 Update 3

**Package (which package from the [r

[2021-02-26 10:21] eizedev commented on #21
Hi @eos1d3
Thanks for the detailed description of your problem and the information, that always helps a lot to narrow down the problem more precisely.

This looks like a multicast problem. IGMP Snooping / Multicast Routing is a little bit difficult to integrate with Airplay.
In my local environment i am using IGMP version 2, with version 3 i had similar problems as you.
In general you do not need

[2021-02-26 11:20] eos1d3 commented on #21
Thanks! At the very beginning I did not enable multicast at all. But after seeing the problem, I enabled multicast settings but still get the same problem. I will try to use IGMP2 instead.

My all devices are in the same subnet. So that is strange to see the problem. And my problem is not the same as others. Both cast devices can last many hours (usually more than 10 hours). This happens repeatedl

[2021-02-26 23:09] eos1d3 commented on #21
Hi, the same problem exists when using IGMP2.

When I tried `echo 0 > /sys/class/net/br0/bridge/multicast_snooping` but I got the error:

`-sh: can't create /sys/class/net/br0/bridge/multicast_snooping: Permission denied`

I am using the same and the only Asus router admin account. There is no `root` account. Any idea for this?

[2021-02-27 21:58] eizedev commented on #21
Have you tried with sudo?

`sudo echo 0 > /sys/class/net/br0/bridge/multicast_snooping`

br0 should be your network interface (bridge).

[2021-02-28 06:53] eos1d3 commented on #21
Right, there is no sudo. I login Synology NAS again with account name, now it still shows
[code]

Anyway, I did find something. I stopped the SPK and I run `aircast-win` on my Windows 10 machine in the same network, it has been more than 2 days and cast devices are still there. So original AirConnect on Windows platform does not have this issue.

I have two cast devices, Nest Mini and Chromecast A

[2021-03-02 07:25] eizedev commented on #21
It looks like some mDNS announces are not relayed. These mDNS packages have a time to live (ttl) configured but i don't know long the timeout is set for.
Do you have any managed switches in your environment? Or any differences in the connection from your windows pc and your NAS to your router? (Windows PC -> XX -> Router -> IPhone | NAS -> XX -> Router -> IPhone).
I also had a miss configuration i

[2021-03-02 13:49] eos1d3 commented on #21
I will keep testing for a while. Original AirConnect is not problem free. It won't disappear, but when I try to connect it, it just has no response.

 I have a managed switch with VLAN support. But I will try router setting first as I just find it has `Enable IGMP Snooping `option in Wireless setting, not in Lan setting.  It was enabled before, so shall I  disable it to see any difference?

[2021-03-06 20:24] guidau opened #22 "The package service could not be executed (Der Paketdienst konnte nicht ausgeführt werden)"
Hi,
I try to run the current version AirConnect-x86-64-0.2.43.1-20210119.spk on my NAS DS1819+ first with no success.
After installation I get the message that the package service could not be executed.
I checked it also on my second NAS DS1815+ with the same result.

![image](https://user-images.githubusercontent.com/30431746/110219086-64344d00-7ebd-11eb-8f35-d82546c8c6c8.png)

`root@GNAS02:/var/

[2021-03-07 17:28] eos1d3 commented on #21
The problem may be caused by AirCast 0.2.44.0. See https://github.com/philippe44/AirConnect/issues/330

I am running `aircast-x86-64`  0.2.44.1 directly on my DS918+ without using SPK. It has been running more than 20 hours and everything is OK.

I will run it for some more days in order to confirm it is caused by 0.2.44.0.

[2021-03-08 18:29] eos1d3 commented on #21
Hi, I am still running AirCast 0.2.44.1 (not SPK version) for 2 days in my Synology NAS. Both cast devices are still working. So it is very likely the problem is caused by 0.2.44.0.

[2021-03-08 19:03] eizedev commented on #21
@eos1d3 Thanks for the debugging and clarification!
You are right, the problem was introduced in 0.2.43.0, for more information please check this issue: https://github.com/philippe44/AirConnect/issues/330

I have update the spk package to the newest version `0.2.44.1`, you can find the release here: https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.44.1-20210308

Please give a short

[2021-03-08 19:12] eizedev commented on #22
Hi @guidau

This looks like a problem where the installation process cannot identify your primary ip address. Airupnp needs your primary ip address to since it will open a port on this ip address.
Could you please post the content of the airconnect application logfile? `/var/log/airconnect.log`

In this logfile we will find (possibly) more information about the error.

Which ip configuration (loca

[2021-03-12 15:45] eos1d3 commented on #21
`0.2.44.1` fixes the issue after further test. Thanks!

[2021-03-12 15:45] #21 closed

[2021-04-03 17:50] pianshanchou commented on #12
I have the same problem, it is not available in version 7.

[2021-04-06 08:20] eizedev commented on #22
@guidau Any update on this?

[2021-04-06 08:23] eizedev commented on #12
Thanks for reporting.
The build process for packages in dsm7 (the package structure) has changed, therefore I have to adapt the packages for DSM 7.
Since I don't install DSM beta software, it will take some time before I can test it. But in the next weeks I will develop a first test version based on the documentation and make it available here for testing.

[2021-04-13 08:05] ewolfe commented on #22
Similar issue
![image](https://user-images.githubusercontent.com/32533397/114518358-20d3a980-9bf4-11eb-885c-2bfcb4cd5ce2.png)

`/var/log/airconnect.log` doesn't exist and

[code]

returns

[code]

Maybe my issue is that I have two ethernet cables plugged into the NAS?

[2021-04-13 19:10] j6s33m commented on #12
Will be happy to beta test this for DSM7

[2021-04-14 09:50] eizedev commented on #22
Thanks @ewolfe for the feedback.
Interesting, so you have two different ip addresses configured on two network ports/adapters?
Are you using both network ports for different purposes?

I will test the next days, if I can optimize the detection a little bit or omit it completely in the current version of airupnp. There were problems in the past that the default interface could not be used for some

[2021-04-14 23:21] ewolfe commented on #22
Thanks @eizedev that sounds good. I'll also try unplugging one of the ethernet cables. I don't know if I have a good reason for using both ports. I plugged them both in since why not?

[2021-04-15 12:00] yakup38 opened #23 "AirConnect running on DS412+ tagetting to Onkyo AV TX-N"
Hello,

I've tried to use this nice piece of software, but unfortunately i can't see the AirCast server from my daughter iPad.

Here is my setup :

iPad >>> Syno DS412+ running AirCast and AirUPnP as daemon >>> Gigabit home LAN >>> Onkyo TX-NR3009

Everything seems to work OK but however on iPad connected to 2.4GHz wifi LAN i can't see AirCast server.
Maybe the AirCast doesn't detect the Onkyo ?

[2021-04-17 13:45] fabi86 commented on #12
Same here, available fpr beta test

[2021-04-29 07:00] eizedev commented on #23
Hi @yakup38 and sorry for the late reply. I am very busy in my private life at the moment and only now have the time to reply.

hmm.. strange. Could you please upload and post the airconnect log from `/var/log/airconnect`?
Best is to stop aircast, delete log and start aircast again, then you don't have to filter the individual entries from the logfile.

normally, if aircast and airupnp are running

[2021-04-29 07:08] eizedev commented on #22
@ewolfe Sorry for the late reply.

I have also connected two cables to both ports (and configured LACP to use both ports as one device). If you do that, and you do not want to use these ports individually, you need to configure your NAS to use both ports as "one network adapter". This way you can use a kind of load balancing or failover if one port fails or instead of a bandwidth of 1000mbit you c

[2021-05-04 00:50] ewolfe commented on #22
Thanks @eizedev, I tested both a single ethernet connection and bonding the two of them. Both approaches worked (I ended up bonding). Cheers!

[2021-05-04 18:27] yakup38 commented on #23
Hello @eizedev ,

sorry for the late reply, as you can guess we're all busy...
So, i have tried once more this time with a more "rested head" let's say..and Aircast seems to work OK, i'm still adding the log file for  info in case you need to compare to the airupnp log that i'll attach either.
However, i had less success with airupnp which is not detecting my Onkyo TX-NR3009 which is set on NET >

[2021-05-17 20:05] eizedev commented on #23
@yakup38

Sorry for the late reply.
The fact that your Onkyo AVR is due to the start command of airupnp. The default start command of **Airconnect-Synology** is using the `-o` parameter.

With `-o <NULL>,S1,S3,S5,S9,S12,ZP80,ZP90,S15,ZP100,ZP120,1.0,LibreWireless` the sonos/UPnP speakers that are natively supporting AirPlay or AirPlay2 will be ignored from AirConnect/airupnp and only the ones list

[2021-05-17 20:11] yakup38 commented on #23
Thanks a lot René !!

I'll try and keep you updated.

Good evening !

On Mon, 17 May 2021 at 22:05, René ***@***.***> wrote:

--
Kind regards,

Yakup AKSU

[2021-05-17 20:29] eizedev commented on #23
if you are familiar with linux commands you could also use `tcpdump` to discover upnp devices on your network:

**Change en0 to your network adapter name**

`sudo tcpdump -vv -A -s 0 -i en0 host 239.255.255.250 and port 1900 | grep LOCATION`

![image](https://user-images.githubusercontent.com/6794362/118552071-bd8ee700-b75e-11eb-94a5-9190d62ee5a7.png)

Then you need to find your Onkyo AVR ip and c

[2021-05-17 20:34] yakup38 commented on #23
Okay Let's get a try....Do you have Teams ?

On Mon, 17 May 2021 at 22:30, René ***@***.***> wrote:

--
Kind regards,

Yakup AKSU

[2021-05-17 20:40] eizedev commented on #23
In Germany it is just shortly before 11 o'clock in the evening, I'm going to sleep for now. Take yourself some time. And as I said, if in doubt, test it without -o, it should work.

[2021-05-28 15:17] j6s33m commented on #12
Any updates in the dev of this beta?

[2021-05-30 19:57] eizedev commented on #12
Nothing new yet. But i will share a new version for dsm7 in the next weeks

[2021-06-05 17:36] x5nder commented on #22
I'm also getting a 'failed to run package service' error.

`/sbin/ifconfig -a | grep 'Ethernet' -A 1 | grep -E 'inet (addr:)?(192\.168\.|10\.|172\.(1[6-9]|2[0-9]|3[01])\.|17\.0\.(6[4-9]|[7-9][0-9]|1([0-1][0-9]|2[0-7]))\.)' -B 1 | grep 'Ethernet' | grep -v "lbr0" | grep -v "docker" | cut -d ' ' -f 1`
gives me
`eth0`

Manually opening term and running airupnp works fine and my iPhone recognizes my S

[2021-06-29 09:02] Spy-1 opened #24 "AirConnect not compatible with Synology DSM 7 final"
Installed the final DSM V41890 today.
Unfortunately AirConnect is not compatible and is stopped.

[2021-06-29 12:26] Spy-1 commented on #12
Today there ist final of DSM 7 out.
Any news to reinstall airconnect on final DSM 7 ?

[2021-06-30 20:29] eizedev commented on #12
Sorry, no working version for now. Next weekend I want to take a closer look at it.

[2021-06-30 20:30] eizedev commented on #24
@Spy-1 thanks for reporting this. We already have an issue for the dsm7 compatibility. Take a look at #12.
I will close this issue as an duplicate of #12.

[2021-06-30 20:30] #24 closed

[2021-07-03 16:58] kk62 commented on #12
If you don't wanna wait for a DSM7 Package.... go this way via Docker ... goes much easier...and works instantly !!
https://techbox.rocks/airconnect-airplay-fuer-aeltere-sonos-boxen-mit-hilfe-von-synology-nas/

regards kk62

[2021-07-04 05:09] TsungShen commented on #12
this way can work !
 but in the docker container setting, remember go the "network" tab to check the "use the network same docker host"

[2021-07-04 05:22] Spy-1 commented on #12
It does not work for me. Not even if I use the same network as the Docker container.

[2021-07-04 08:35] kk62 commented on #12
Hi Spy-1 .

you must have done something wrong during the docker Installation. Follow the steps as mentioned in the Link:  https://techbox.rocks/airconnect-airplay-fuer-aeltere-sonos-boxen-mit-hilfe-von-synology-nas/

when you started the swilsonau/docker-airconnect Image - double click on the image - go to advanced settings  - click in the option use same network as docker host. and that it - aft

[2021-07-04 08:41] kk62 commented on #12
👍 :-) Nice that it worked for you...

[2021-07-04 08:43] kk62 commented on #12
...by the way here is the docker hub original source if anybody is interested

https://registry.hub.docker.com/r/swilsonau/docker-airconnect/

[2021-07-04 21:39] eizedev commented on #12
Hi,

**Please UNINSTALL your package first if it is still installed (or marked as repairable) after upgrading to dsm7.**

Sorry it took so long. I had a look at it for a few hours today and developed a working version for DSM7.
I also fixed some existing bugs and would like to ask you, before the version is finally released, to test it on your DSM7 installations.
Both programs, `aircast` and `airu

[2021-07-05 06:47] Spy-1 commented on #12
Hi Rene,
first of all - it´s working for me (AirConnect-dsm7-x86-64-0.2.50.5-20210704.spk) on a synology DS920+ !
Thank you for your time and the really good work.
Waiting anxiously for the release and further development.

btw: the download Path above is not working.

[2021-07-05 07:09] eizedev commented on #12
thanks @Spy-1
Link is fixed.

[2021-07-06 20:29] eizedev commented on #12
Please checkout the newest release [0.2.50.5-20210706 - DSM7 compatible](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.50.5-20210706) with Compatibility for DSM7, more security. It was also backported to DSM6 (tested) and DSM5 (untested).

If this release is working, we can then close this issue.

[2021-07-06 20:33] eizedev commented on #22
@x5nder @ewolfe @guidau

Please check the latest release, the problem with the network interface detection should (hopefully) finally be fixed there.

----

Please checkout the newest release [0.2.50.5-20210706 - DSM7 compatible](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.50.5-20210706) with Compatibility for DSM7, more security and the possibility to view the log file and cha

[2021-07-06 20:34] eizedev commented on #16
Fixed with release [0.2.50.5-20210706 - DSM7 compatible](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.50.5-20210706).

[2021-07-06 20:34] #16 closed

[2021-07-06 20:36] eizedev commented on #15
Integrated with release [0.2.50.5-20210706 - DSM7 compatible](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.50.5-20210706).

Check documentation at [documentation](https://github.com/eizedev/AirConnect-Synology#logfiles)

[2021-07-06 20:36] #15 closed

[2021-07-06 20:36] #22 closed

[2021-07-07 06:21] Spy-1 commented on #12
Working for me! 👍

[2021-07-09 10:14] Spy-1 commented on #12
Now, having the problem that streaming stops after a few minutes (1 -3)

[2021-07-09 14:29] eizedev commented on #12
@Spy-1 Could you please share the logfile or parts from the logfile? The logfile is now located in `/volume1/airconnect/log/airconnect.log`. Can also be found by using the FileStation.

[2021-07-09 15:26] Spy-1 commented on #12
Her it is. Happend between 9 an 11 am . Streaming from Iphone via Apple Music to Sonos Büro.

Von: René ***@***.***>
Gesendet: Freitag, 9. Juli 2021 16:29
An: eizedev/AirConnect-Synology ***@***.***>
Cc: Spy-1 ***@***.***>; Mention ***@***.***>
Betreff: Re: [eizedev/AirConnect-Synology] [BUG] Not sure if compatible with DSM 7 (#12)

@Spy-1 <https://github.com/Spy-1>  Could you please share the log

[2021-07-09 15:28] Spy-1 commented on #12
[airconnect.log](https://github.com/eizedev/AirConnect-Synology/files/6792397/airconnect.log)

[2021-07-11 11:02] eizedev commented on #12
@Spy-1

The log file actually shows only a normal behavior in the mentioned time period.

Could you please test this package? It includes on older release of airupnp and aircast:
[/AirConnect-dsm7-x86-64-0.2.50.4-20210711.spk](https://github.com/eizedev/AirConnect-Synology/releases/download/0.2.50.4-20210711/AirConnect-dsm7-x86-64-0.2.50.4-20210711.spk)

I don't think the problem is related to our

[2021-07-11 14:21] Spy-1 commented on #12
HI Rene,
there was a network problem from my switch to the Sonos Boost (broken cable)
Now, after repairing this all works fine.

[2021-07-11 17:15] mdeckereu opened #31 "Video Support"
Hi there,

I was wondering if it would be possible to integrate also video für UPNP and Chromecast.

Currently, by using AirConnect with Chromecast capable apps (e.g. Youtube / Youtube Music), common Chromecast Devices are shown but no longer seperated but only through AirConnect. It would be nice to still being able to use those Chromecast native apps but also having support for it in Airplay-onl

[2021-07-12 07:14] eizedev commented on #31
Hi @mdeckereu
Can you please explain it a little more?

If I understand your request correctly, when you play a video on your device, you would like to output the audio stream via AirConnect to a Chromecast enabled speaker, right?

In most cases, this will not work because AirConnect is an audio-only application. Do not expect to play a video on your device and have the audio from UPnP/Sonos or Ch

[2021-07-16 09:22] eizedev commented on #12
Since no further problems with the packages for DSM7 have been reported so far, I hereby close this issue. Please open a new issue if you have problems/questions/wishes.

[2021-07-16 09:22] #12 closed

[2021-07-16 09:23] eizedev commented on #23
@yakup38 Any news on this?

[2021-07-16 10:16] yakup38 commented on #23
İ will double check after holidays torn but as far as i remember, streaming
video was OK but streaming audio not..

On Fri, Jul 16, 2021, 11:23 René ***@***.***> wrote:

[2021-07-16 13:31] moehead214 opened #32 "Airconnect was fine on first day of install but now no devices is showing in airplay"
**Describe the bug**
I installed the package a few days ago and all it worked right away and got to play music through airplay with multiple chromecast.
When I tried it today no devices was found on airplay.

**To Reproduce**
Fresh install

**Expected behavior**
Airplay should still show all my chromecast devices

**Logfiles**
[airconnect.log](https://github.com/eizedev/AirConnect-Synology/files/6

[2021-07-18 06:34] moehead214 commented on #32
Weird the issue solved itself. I can now see my chomecast devices as airplay.

[2021-07-18 06:34] #32 closed

[2021-08-01 20:33] eizedev commented on #14
@Gummibando

The UI integration for selecting airupnp/aircast (or both) is now integrated in the latest release.
Currently only compatible with DSM 7 and above.

It would be great, if you could test it: [0.2.50.5-20210801](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.50.5-20210801)

[2021-08-01 20:39] eizedev commented on #23
@yakup38

in the latest release [0.2.50.5-20210801](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.50.5-20210801) i have integrated a configuration file for AirConnect-Synology. You also can specify the filter for the airplay devices in the configuration file. Also you can disable filtering as in the example below.
Perhaps this can fix your problem.

- Uninstall the existing packa

[2021-08-01 20:40] eizedev commented on #31
Closed due to inactivity. If the issue is still relevant, please let me know.

[2021-08-01 20:40] #31 closed

[2021-08-04 10:32] Gummibando commented on #14
This sound fantastic.
Unfortunately, I'm not yet on DSM 7. Still have some data cleanup to do before full system backup and taking the plunge. . Additionally, just two days ago I sent my streamer for servicing, not sure when it will be returned.
Will test as soon as I'm ready.

[2021-08-04 10:55] eizedev commented on #14
No problem :)
I plan to provide this change probably also for DSM 6, that should be relatively quickly achievable :). With future innovations I just have to see to what extent it is still worth it. The basic functionality will of course always remain as long as it is technically possible.

[2021-08-16 08:41] codefactor-io[bot] opened #34 "Fix 'egrep is non-standard and deprecated. Use grep -E instead.' issue in src\dsm\scripts\start-stop-status"
[CodeFactor](https://www.codefactor.io/repository/github/eizedev/airconnect-synology) found an issue: egrep is non-standard and deprecated. Use grep -E instead.

It's currently on:
[src\dsm\scripts\start-stop-status:14](https://www.codefactor.io/repository/github/eizedev/airconnect-synology/source/master/src/dsm/scripts/start-stop-status#L14)

[2021-08-16 08:42] #34 closed

[2021-08-17 11:03] 521tonysteven opened #35 "How to airplay to Synology and use the sound card on Synology to play"
How to airplay to Synology and use the sound card on Synology to play

[2021-08-18 17:25] W4J1e opened #36 "static version or not?"
## Is your question related to a problem? Please describe

NO

## Describe the solution you'd like
is static version different to non-static version? I can install both of them and work normally, so can anyone explain what the difference they are? Thank you.

[2021-08-21 08:48] eizedev commented on #36
Hi @W4J1e
The static package includes "static" binaries, that means, it includes binaries that have no external library dependencies and should be run on your device if the "normal" package (without static in the name) fails.
On some devices, dependencies that are necessary to run airupnp or aircast are not available (mostly on older devices).
These dependencies are included in the static version

[2021-08-21 08:56] W4J1e commented on #36
@eizedev Ok I got it. thanks  a lot for your answer !
Best Wishes~

[2021-08-21 08:56] #36 closed

[2021-08-21 08:57] eizedev commented on #35
Can you please explain this a little bit closer?
What is connected to the sound card on your Synology NAS?

With AirConnect you can use airplay to stream your music to speakers that do not natively support AirPlay. These speakers can be Sonos devices, DLNA devices, Chromecast devices but also other devices that are including DLNA/Chromecast techniques.

[2021-09-01 07:29] yakup38 commented on #23
Hi René, very busy after hollidays come back..but definitely i'll give it a try and report the result here. Thx a lot for your hard work !

[2021-09-05 14:16] Gummibando commented on #14
Sorry for replying late, but I just came back from being very AFZ (away from zuhause :).

![berg](https://user-images.githubusercontent.com/34392542/132130190-31fa8796-ec45-4d1e-b938-53681908d9e0.jpg)

Status so far:

I can install the package and the shared folder is created.
Running the package brings up two error messages, missing IP and UPNP port, respectively.

`AirConnect: [15:20:46] Synolog

[2021-09-27 02:10] #35 closed

[2021-10-07 02:17] #23 closed

[2021-11-06 03:18] mvonh opened #39 "Install issue with AirConnect-x86-64-0.2.50.5-20210826"
## Describe the bug

Package installs but fails to run with an error message

<img width="611" alt="Screen Shot 2021-11-05 at 11 08 44 PM" src="https://user-images.githubusercontent.com/25800805/140596201-c9bc530a-d097-437b-9f9d-98febdd34d7c.png">
## To Reproduce
Manuall install from download

## Expected behavior

Should run after install
## Logfiles

If applicable, add [logfiles](https://github.

[2021-11-24 16:48] hanzixi opened #42 "it not support huawei sound"
huawei sound or sound x support DLNA;  DSM install airconnect can not find huawei sound device; xiaomi sound is ok;  can you support it? thank you!

[2021-11-24 18:07] eizedev commented on #39
Hi @mvonh

strange, that release that you picked should work for dsm6. Did you uninstalled the package and the tried a fresh installation?

Thanks

[2021-11-24 18:18] eizedev commented on #42
Hi,

it could be possible, that the default configuration does not allow your huawei device.
You can find more information about how to change the allowed AirPlay devices in the [documentation](https://github.com/eizedev/AirConnect-Synology#supported-upnp-speakers).

In short:

For a first test, you can change the [airconnect.conf](https://github.com/eizedev/AirConnect-Synology#airconnectconf) con

[2021-11-24 18:25] eizedev commented on #14
Sorry @Gummibando, the bot closed the issue because it was stale ;-)
Thanks for your detailed report, i will check it in the next days. Do you still use DSM6?

[2021-11-26 02:49] hanzixi commented on #42
Last night I tested 0.2.50.5-20210826 according to your method; modify the configuration as follows:
AIRCAST_ENABLED=1
AIRCAST_LATENCY="1000:2000"
AIRCAST_LOGLEVEL="all=info"
AIRUPNP_ENABLED=1
AIRUPNP_LATENCY="1000:2000"
AIRUPNP_LOGLEVEL="all=info"
AIRUPNP_PORT=49154
FILTER_AIRPLAY2_DEVICES="<NULL>"
SYNO_IP="192.168.31.106"

After I restarted airconnect, I still couldn't find the HuaWei sound devi

[2021-11-27 11:51] eizedev commented on #42
Thanks for the details, could you please try to completely remove the configuration Line for `FILTER_AIRPLAY2_DEVICES`? So in your case it should look something like that?

[code]

After that, please restart AirConnect-Synology (f.e. via package center). Then you should see your device.

If then, your iphone founds the device but you hear no sound after you select it, this is another issue.
That c

[2021-11-28 19:00] Sam-MSU opened #43 "aircast doesn't use configuration file"
## Describe the bug

aircast doesn't use configuration file at /volume1/airconnect/config-cast.xml

## To Reproduce

Create reference configuration file. Change reference config, e.g. disable device. Restart package. Disabled device is still accessible.

## Expected behavior

aircast respects configuration file from /volume1/airconnect/config-cast.xml

## Logfiles

2021-11-27T19:48:52+01:00 DS214p

[2021-11-29 17:29] eizedev commented on #43
Hi @Sam-MSU
thanks for reporting the problem about the symlink of the configuration file.

In one of the last releases i have already fixed these problem and the config files are now correctly linked to `/volume1/airconnect/config-cast.xml` and `/volume1/airconnect/config.xml`.

![image](https://user-images.githubusercontent.com/6794362/143913075-5a586e1e-58e3-492f-aa73-c0aeb8a07539.png)

But the

[2021-11-29 20:52] Sam-MSU commented on #43
Hi @eizedev ,

I can help you testing things. BTW, the workaround doesn't seem to work. The package doesn't start with it.

[2021-11-30 07:41] hanzixi commented on #42
Yes, I have tested before deleting all the contents of "FILTER_AIRPLAY2_DEVICES="<NULL>,S1,S3,S5,S9,S12,ZP80,ZP90,S15,ZP100,ZP120,1.0,LibreWireless"", but it starts after deleting Failed, prompting that there is no FILTER_AIRPLAY2_DEVICES; later I changed to "FILTER_AIRPLAY2_DEVICES="<NULL>""; I can start, but I still can't find the device;

According to your prompt, I tried to modify the configur

[2021-12-01 02:13] hanzixi opened #44 "No sound when playing music on Huawei sound"
## Is your question related to a problem? Please describe

After starting airconnect, I can search for Huawei sound normally and use airplay to push music to Huawei sound, but there is no sound. After clicking the play button for a few seconds, the concert is paused. After a few consecutive starts, the playback is no longer paused, but there is still no sound; I tested Xiaomi's Xiaoai sound pro wi

[2021-12-01 06:06] Gummibando commented on #14
Exactly. Package running, no devices found. The device is a Naim streamer.
Unfortunately, I have upgraded to DSM 7(.0.1) by now.

[2021-12-02 01:46] #42 closed

[2021-12-06 01:55] hanzixi commented on #44
Is there any progress?

[2021-12-08 08:12] eizedev commented on #44
Hi @hanzixi
did you checked the other issue on the official airconnect repository [here](https://github.com/philippe44/AirConnect/issues/377) is i mentioned in the other post?

I don't have a Huawei device to test this but the following log lines from the log for your Huawei speaker show two errors that I haven't seen before. I suspect that there is either a problem with the compatibility of AirCo

[2021-12-08 08:15] eizedev commented on #43
Ok, strange. I will implement the change for the old DSM 6 packages.
I will publish a new version and let you know.

[2021-12-08 08:18] eizedev commented on #14
Ok, thanks for the info. I have two other issues for the DSM6 packages that i want to implement in the upcoming weeks. I will have a look at it.
For now i will close this issue since the original problem was resolved with DSM7 and you have upgrade to DSM7 now.

[2021-12-08 08:18] #14 closed

[2021-12-09 08:25] hanzixi commented on #44
Yes, I did see this [feedback](https://github.com/philippe44/AirConnect/issues/377) on this issue before, but it didn't help;

Warmly looking forward to your new firmware, I hope it can successfully adapt to Huawei sound; thank you;

[2022-01-01 17:47] caramdache opened #46 "Add support for Devialet UPnP speaker"
As per the README file, here are the parameters necessary to add support for the Devialet Expert Pro product line:

[code]

[2022-01-01 22:53] norabor opened #47 "New Device"
Please add this player to the supported list. It's a frontier silicon based internet radio. No native airplay.

<device>
<deviceType>urn:schemas-upnp-org:device:MediaRenderer:1</deviceType>
<friendlyName>Some Name</friendlyName>
<manufacturer>Adition</manufacturer>
<manufacturerURL>http://www.frontier-silicon.com</manufacturerURL>
<modelDescription>ir-mmi-FS2026-0500-0748_V2.14.19c3.EX73616-1A23</

[2022-01-02 00:36] norabor commented on #47
I managed to get the device running by adding "Fitzwilliam" to the filter list in airconnect.conf (extremely hard to do for a non-linux person). Manually adding the device through a config.xml did not work as the filter seems to override even manually added devices. It might make sense to not filter anything in the manual device area of the config.xml

[2022-01-02 01:09] norabor opened #48 "airconnect.conf inaccessible"
I'm using the ARM package on DS216j with DSM 7.0.1-42218.

1)
The access rights for airconnect.conf were to only allow read access for all users but "Airconnect". So it was not possible to use the symlink in volume1/airconnect to edit the file via a share. Changing the access rights to e.g. 666 solved this.

2)
SMB on Synology by default doesn't support following symlinks. So the documentation mig

[2022-01-03 07:13] eizedev commented on #47
Hi, i will add the device in the next release to the default filter list.
I will also extend the documentation to clarify that you need to remove the filter list (`FILTER_AIRPLAY2_DEVICES=`) if you add a custom configuration xml file.
Thanks for your feedback.

[2022-01-03 07:15] eizedev commented on #46
Hi, thanks for the feedback. I will add the device to the default filter list in the next release.

[2022-01-03 07:17] eizedev commented on #48
Hi,

ah, this is an interesting find.

i will update the file permissions and the documentation in the next release. Thanks!

[2022-01-13 02:24] #39 closed

[2022-01-30 17:18] eizedev commented on #48
Hi, i have updated the clarification in the documentation and fixed the bug with the file permissions in release [0.2.51.2-20220130](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.51.2-20220130).
The file permissions will also be fixed (Access: (0666/-rw-rw-rw-)) on upgrading to the new version. Any configuration in `airconnect.conf` will be kept "as it is" on upgrade (i have clar

[2022-01-30 17:18] #48 closed

[2022-01-30 17:23] eizedev commented on #47
Hi,

i have added your device to the default filter list in the current release [0.2.51.2-20220130](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.51.2-20220130).

Please keep in mind, that if you upgrade your existing AirConnect-Synology package no changes will be made to the airconnect.conf file. If you want to overwrite your airconnect.conf configuration with the default one, p

[2022-01-30 17:23] #47 closed

[2022-01-30 17:27] eizedev commented on #46
Hi,

i have added your device to the default filter list in the current release [0.2.51.2-20220130](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.51.2-20220130).

Please keep in mind, that if you upgrade your existing AirConnect-Synology package no changes will be made to the airconnect.conf file. If you want to overwrite your airconnect.conf configuration with the default one, p

[2022-01-30 17:27] #46 closed

[2022-01-31 19:21] caramdache commented on #46
Excellent, thank you!  I can indeed see the devices from my MacBook Pro and play to it.

I will take a little time before I've tested this thoroughly, but already I've seen an issue already: when I play music, if the device was in standby (from an amp POV) but nonetheless visible as a UPnP device, the device disappears and no sounds comes out. I have to wait for the device to reappear and press pl

[2022-02-01 21:29] eizedev commented on #46
Great that it worked!

hmm... strange. Have you checked the logfile for possible errors related to your device?
That does not look like an error with the Synology package itself. If the problem persists you can also open an issue in the official repository [here](https://github.com/philippe44/AirConnect/issues)

(You can also post the logfile or parts of the logfile here, then I can have a look at

[2022-02-05 16:19] WiteWulf opened #52 "Please Add Support For Samsung HW-N950"
Please add support for Samsung HW-N950 soundbar to airupnp.

I can confirm that airupnp works very well when run manually from command-line without any model name filters, but the model details needs to be added to the Synology package.

Relevant output from upnp announce as follows:

[code]

[2022-02-06 11:04] eizedev commented on #52
Hi,

i have added your device to the default filter list in the current release [0.2.51.2-20220206](https://github.com/eizedev/AirConnect-Synology/releases/tag/0.2.51.2-20220206).

Please keep in mind, that if you upgrade your existing AirConnect-Synology package no changes will be made to the airconnect.conf file. If you want to overwrite your airconnect.conf configuration with the default one, p

[2022-02-06 11:04] #52 closed

[2022-03-31 16:45] woann commented on #44
I also encountered this problem. My Huawei sound has no sound.

[2022-05-07 11:03] ycj1989 opened #54 "how to force the airconnect automatically and always running?"
halo eizedev,
I have installed airconnect on my ds918, everything went good!
all i want to know is how to keep it always running, such as after reboot the ds918.
thankx!!

[2022-05-10 09:55] eizedev commented on #54
Hi @ycj1989
the AirConnect-Synology package should start automatically during startup of your NAS.
So in general, any package that was started before the reboot should also be started after the reboot.

Could you please check the logfiles from airconnect? (documented [here](https://github.com/eizedev/AirConnect-Synology#logfiles)). Perhaps we will find additional information there. you can also up

[2022-05-13 12:14] eizedev commented on #44
I can't imagine that this is due to a problem with the Synology package for AirConnect. I think it is either an incompatibility of Airconnect (airupnp/aircast) with the Huawei devices via UPNP/DLNA or a problem with the local network configuration. However, only the developer of Airconnect can help you directly (see above).

[2022-06-15 03:23] #54 closed

[2022-10-29 13:09] eizedev opened #57 "Update AirConnect to 1.x.x"
## Is your feature request related to a problem? Please describe

Nope

## Describe the solution you'd like

A fully refactored version of AirConnect was released. Testing and packaging is needed.
Update to 1.0.1 or newer version will be planed.

## Describe alternatives you've considered

None

## Additional context

https://github.com/philippe44/AirConnect/releases

[2022-11-01 13:02] alekslyse commented on #57
Yes, please this is actually important, as synology refuse to update its OS with the current AirConnect package

[2022-11-02 08:03] eizedev commented on #57
@alekslyse Which version of DSM are you using? I have updated to the latest version without any problems resulted by AirConnect-Synology. But you need to reinstall AirConnect-Synology after the upgrade since Synology will remove it during upgrade in my case.